.ace_scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
    background-color: #272822;
    border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}