body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);
    background: url(../images/bg.png);
    background-color: #000000;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #d4d4d4;
}
*::selection {
    background-color: #b6000065; 
    color: #fff; 
}

*::-moz-selection {
    background-color: #b6000065; 
    color: #fff; 
}

*::-webkit-selection {
    background-color: #b6000065; 
    color: #fff;
}
#editor-container {
    display: flex;
    width: 80%;
    top: 20px;
    position: fixed;
}

#editor {
    flex: 1;
    width: 100%;
    height: 270px;
    margin-right: 10px;
    background-color: #2b2b2b;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    color: #d4d4d4;
    font-size: 14px;
    z-index: 1;
    scrollbar-color: #888 #333;
    scrollbar-width: thin;
}

#editor::-webkit-scrollbar {
    width: 12px;
}

#editor::-webkit-scrollbar-thumb {
    background-color: #888;
}

#editor::-webkit-scrollbar-track {
    background-color: #333;
}

#tooltip {
    width: 30%;
    background-color: #2B2B2B;
    color: #fff;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

#outputContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#output {
    border-radius: 10px;
    width: 51.9%;
    top: 60.7%;
    position: fixed;
    height: 150px;
    padding: 10px;
    border: 1px solid #333;
    white-space: pre-wrap;
    background-color: #2b2b2b;
    margin-bottom: 76px;
    color: #d4d4d4;
    overflow-y: auto;
    z-index: 10;
    scrollbar-color: #555 #333;
    scrollbar-width: thin;
}
#output::-webkit-scrollbar {
    width: 12px;
}

#output::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
}

#output::-webkit-scrollbar-track {
    background-color: #333;
}
#verification {
    left: 64.5%;
    position: absolute;
    top: 60.8%;
    border-radius: 10px;
    width: 23.9%;
    border-radius: 10px;
    height: 150px;
    padding: 10px;
    border: 1px solid #333;
    white-space: pre-wrap;
    background-color: #2b2b2b;
    margin-bottom: 30px;
    color: #d4d4d4;
    overflow-y: auto;
    z-index: 10;
    scrollbar-color: #555 #333;
    scrollbar-width: thin;
}
#runButton {
    position: fixed;
    width: 10%;
    top: 54%;
    left: 32.5%;
    padding: 10px;
    animation: neon 1s infinite alternate;
    cursor: pointer;
    color: #fff;
    border: 2px solid #e62117;
    border-radius: 5px;
    font-size: 16px;
    transform-style: preserve-3d;
    perspective: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    box-shadow: 0 0 10px rgba(230, 33, 23, 0);
    background-color: transparent;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
}
#validButton {
    display: none;
    position: fixed;
    width: 10%;
    top: 92.7%;
    left: 45%;
    padding: 10px;
    animation: neon2 1s infinite alternate;
    cursor: pointer;
    color: #fff;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
    font-size: 16px;
    transform-style: preserve-3d;
    perspective: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
    background-color: transparent;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
}

#validButton:hover {
    animation: neon2 1s infinite alternate;
    box-shadow: 0 0 20px rgba(23, 230, 116, 0.8);
    border: 2px solid #14c65e;
}

@keyframes neon2 {
    to {
        box-shadow: 0 0 40px rgba(184, 184, 184, 0.5);
    }
}
#runButton:hover {
    animation: neon 1s infinite alternate;
    box-shadow: 0 0 20px rgba(230, 33, 23, 0.8);
    border: 2px solid #c61a14;
}

@keyframes neon {
    to {
        box-shadow: 0 0 40px rgba(230, 33, 23, 0.8);
    }
}

#sidePanel {
    width: 0;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

#sidePanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidePanel a:hover {
    color: #f1f1f1;
}

#sidePanel .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 36px;
    margin-right: 50px;
}

#main-content {
    transition: margin-right .5s;
    padding: 16px;
}
.svgvalid{
    height: 20px;
    fill: green;
    margin-bottom: -5px;
}
.svgno{
    height: 20px;
    width: 20px;
    fill: #a30000;
    margin-bottom: -5px;
}
#result1, #result2, #result3 {
    display: flow;
    margin-top: -10px;
    margin-bottom: -10px; 
    margin-left: 7%;
}
#restart {
    position: fixed;
    width: 10%;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: transparent;
    fill: #474747;
    width: 50px;
    z-index: 1000;
    left: 58%;
    margin-top: 0.5%;
}


.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: rgb(66, 66, 66);
    z-index: 13;
  }

  .progress {
    height: 100%;
    width: 0;
    background-color: #b80900;
    transition: width 1s ease;
  }

  .time {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #b80900;
    font-size: 18px;
    font-weight: bold;
  }
  .message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1000000;
    display: none;
  }
  .container {
    position: relative;
    height: 100vh;
}

.toggle-button {
    cursor: pointer;
    z-index: 12;
    position: fixed;
    top: -166px;
    right: -71px;
    height: 280px;
}
.menu {
    position: fixed;
    top: 0;
    right: -375px;
    width: 375px;
    height: 100%;
    background-color: #2c3e50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;
    z-index: 11;
    color: #ecf0f1;
    overflow-y: auto;
    padding-top: 60px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none; 

}
.menu::-webkit-scrollbar {
    width: 6px; 
}

.menu::-webkit-scrollbar-thumb {
    background-color: transparent; 
}


.menu h2 {
    margin: 20px 0 10px 20px;
    font-size: 1.5em;
    color: #ecf0f1;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #ecf0f1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px; 
}

.menu li {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    border-bottom: 1px solid #34495e;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

.menu li:hover {
    background-color: #34495e;
}

.info-dropdown {
    width: 100%;
    margin-left: -10px;
    margin-top: 10px;
    display: none;
    background-color: #333;
    color: #ecf0f1;
    padding: 10px;
    position: relative;
    top: -1px;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
}

.menu li.info-shown .info-dropdown {
    display: block;
    max-height: 300px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #333;
}

.parentheses {
    color: white;
}

.function-fonction {
    color: #66d9ef;
}
.texte-code {
    color: #e6db74;
}
code {
    font-size: 12px;
}

.area {
    width: 200px;
    height: 265px;
    animation: swing 1s infinite ease-in-out alternate;
    transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
}

.wire {
    position: relative;
    left: 98px;
    height: 200px;
    width: 4px;
    background-color: black;
}

.fixture {
    position: relative;
    background-color: grey;
    width: 16px;
    height: 20px;
    left: 92px;
}

.strip {
    position: relative;
    width: 18px;
    height: 2px;
    right: 1px;
    top: 4px;
    background-color: darkgrey;
}

.strip:nth-of-type(2) {
    top: 7px;
}

.strip:nth-of-type(3) {
    top: 10px;
}

.bulb {
    position: relative;
    width: 40px;
    height: 40px;
    left: 80px;
    bottom: 2px;
    z-index: -1;
    background-color: rgba(255, 224, 121, 0.85);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 300px 77px rgb(250, 200, 114);
    -moz-box-shadow: 0px 0px 300px 77px rgb(250, 200, 114);
    box-shadow: 0px 0px 300px 77px rgb(250, 200, 114);
}

.zig {
    position: relative;
    background-color: transparent;
    width: 10px;
    height: 5px;
    border-radius: 5px / 2.5px;
    left: 14px;
    border: black solid 1px;
}

.zig:nth-of-type(2) {
    top: -3px;
}

.zig:nth-of-type(3) {
    top: -6px;
}

@keyframes swing {
    from {
        -moz-transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    to {
        transform: rotate(-3deg);
    }
}

